.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
}

.select {
  padding: 10px;
  border-radius: 8px;
}
