.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.user {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.user .img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.user .img img {
  width: 100%;
  height: 100%;
}
